@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./assets/Font/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

/* navbar css */
.Nav {
  border-radius: 16px;
  background: rgba(216, 216, 216, 0.5);
  backdrop-filter: blur(20px);
}
.repsonsiveMenu {
    border-radius: 16px;
    background: rgba(216, 216, 216, 0.5);
    backdrop-filter: blur(20px);
  }
  button:hover,
button:active {
  background-color: #208c0b; /* darker shade of green */
}